page-room {
    .pontos {
        color: white;
        font-size: 18px;
        margin-right: 10px;
        margin-left: 2px;
    }

    h1 {
        text-align: center;
        padding-top: 10px;
        color: rebeccapurple;
    }

    p {
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
    }
}
