page-records {
    .id {
        text-align: left;
    }

    .nome {
        margin-left: 20px;
    }

    .pontuacao {
        float: right;
    }

    .tabela {
        color: rebeccapurple;
        font-weight: bold;
    }

    .peta {
        margin-left: 20px;
        margin-right: 20px;
    }
}
